* {
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
}

.App {
  margin: 5% auto;
  border: 2px solid black;
  width: 700px;
  text-align: center;
}

#Timer{
  border: 2px solid black;
  width: 400px;
  margin: 50px auto 25px;
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}

.time {
  font-size: 20px;
  font-weight: bold;
}

.time p {
  margin: 0;
  color: white;
}

.colon {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

#InputField {
  margin: 0 25px 25px;
  display: inline-block;
  border: 0;  
}

#SubmitButton {
  height: 45px;
  width: 65px;
  background-color: orchid;
  color: white;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  border: 0;
}
