* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("sand-clock.jpg");
}

.App {
  margin: 5% auto;
  width: 700px;
  padding: 20px;
  text-align: center;
}

#Timer{
  border: 2px solid white;
  width: 500px;
  margin: 50px auto 25px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  color: white;
}

.time {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-size: 60px;
}

.units {
  margin: 0;
  font-size: small;
  color: rgb(51, 49, 49);
}

.colon {
  margin: auto 0;
  font-size: 30px;
  font-weight: 500;
  color: black;
}

#InputField {
  margin: 0 25px 25px;
  display: inline-block;
  border: 0;  
}

#SubmitButton {
  height: 45px;
  width: 65px;
  background-color: grey;
  color: white;
  margin: 5px;
  display: inline-block;
  border-radius: 10px;
  border: 0;
}
